body {
    margin: 60px auto;
    width: 70%;
}
nav ul{
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #679;
    font-family: 'Linux Libertine', 'Helvetica', 'Arial', 'Sans-Serif';
}

a:hover {
    text-decoration: underline;
    font-family: 'Linux Libertine', 'Helvetica', 'Arial', 'Sans-Serif';
}


a-pub {
    text-decoration: none;
}

a-pub:hover {
    text-decoration: underline;
    color: #679;
}

co-author-name {
    text-decoration: none;
    color: #736A6A;

}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h4-pub {
    font-size: 1.5em;
    font-family: 'Linux Libertine', 'Helvetica', 'Arial', 'Sans-Serif';
}

p-pub {
    font-size: 1.2em;
    font-family: 'Linux Libertine', 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.2em;
    color: #333;
}

p {
    font-size: 1.2em;
    font-family: 'Linux Libertine', 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.2em;
    color: #333;
    text-align: justify;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}
ul { 
    margin: 5px auto 5px; 
    font-size: 1.2em;
}

ul li {
    list-style: disc;
    text-align: justify;
    font-family: 'Linux Libertine', 'Helvetica', 'Arial', 'Sans-Serif';
}

ol { 
    margin: 5px auto 5px; 
    font-size: 1em;
}

ol li {
    list-style: I;
    text-align: justify;
    font-family: 'Linux Libertine', 'Helvetica', 'Arial', 'Sans-Serif';
}

