<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109980666-1"></script>
				<script>
				  window.dataLayer = window.dataLayer || [];
				  function gtag(){dataLayer.push(arguments);}
				  gtag('js', new Date());

				  gtag('config', 'UA-109980666-1');
				</script>

			<meta name="google-site-verification" content="Yn2a7d7nRhk98Am_vVw9FZVKMz6-pSyq9W2iI-1ohgM" >
			<meta name="keywords" content ="Shishir, shishir, Shishir Patil, Shishir G Patil, t-shpati, Microsoft Research, MSR, msr, RVCE, rvce, homepage">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!--<li><a href="/cv">CV</a></li>-->
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	        		<li><a href="/publications">Publications</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:shishir1000@hotmail.com">email</a></li>
	        		<li><a href="https://github.com/ShishirPatil">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>