<!DOCTYPE html>
	<html>
		<head>
			<meta name="google-site-verification" content="Yn2a7d7nRhk98Am_vVw9FZVKMz6-pSyq9W2iI-1ohgM" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!--<li><a href="/cv">CV</a></li>-->
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:shishir1000@hotmail.com">email</a></li>
	        		<li><a href="https://github.com/ShishirPatil">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>