<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109980666-1"></script>
				<script>
				  window.dataLayer = window.dataLayer || [];
				  function gtag(){dataLayer.push(arguments);}
				  gtag('js', new Date());

				  gtag('config', 'UA-109980666-1');
				</script>

			<meta name="google-site-verification" content="Yn2a7d7nRhk98Am_vVw9FZVKMz6-pSyq9W2iI-1ohgM" >
			<meta name="keywords" content ="Shishir, Shishir Patil, Shishir G Patil, t-shpati, Microsoft Research, MSR">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
		</head>
		<body>
			<nav>
	    		<ul>
	    			<li style="font-size:1.5em;font-family:'Helvetica'"> Shishir Patil </li>
	    			<li style="float:right; font-family:'Helvetica'"><a href="https://drive.google.com/file/d/1Fdmc4aNIdXnHyt9MQlyiXhmM2GKku8Ya/view?usp=sharing" target="_blank">CV</a></li>
	        		<li style="float:right; font-family:'Helvetica'"><a href="/publications">Publications</a></li>
	        		<li style="float:right; font-family:'Helvetica'"><a href="/">Home</a></li>
		        	<!-- <li style="float:right"><a href="/about">About</a></li> -->
	        		
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li style = "font-family:'Helvetica'"><a href="mailto:t-shpati@microsoft.com">email</a></li>
	        		<li style = "font-family:'Helvetica'"><a href="https://github.com/ShishirPatil">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>